# залежності
node_modules/
client/node_modules/
server/node_modules/

# змінні середовища
.env
server/.env

# збірка
client/build/
client/dist/

# системні файли
.DS_Store
Thumbs.db

# логи
*.log
npm-debug.log*